(
    name: "Rum",
    description: "An alcoholic beverage made from sugarcane byproducts, such as molasses or honey.",
    icon: "rum",
    value: 2.5,
    rarity: Common,
    tags: [Eatable, Sellable, Plantable],
)
