(
    item: (
        name: "Sugarcane",
        description: "A tall tropical grass that is the primary source of sugar.",
        icon: "sugarcane",
    ),
    value: (2.49),
    rarity: Common,
    tags: [Sellable],
)
