(
    name: "Corn distillation",
    description: "distilling fermented corn",
    interval: Step(1),
    workforce: 1,
    inputs: [
        (
            quantity: 3,
            item: "items/corn.item.ron",
        ),
    ],
    outputs: [
        (
            quantity: 1,
            item: "items/double_corn.item.ron",
        ),
    ],
)
