(
    name: "Rum distillation",
    description: "distilling fermented sugarcane",
    interval: Step(1),
    workforce: 1,
    inputs: [
        (
            quantity: 2,
            item: "items/sugarcane.item.ron",
        ),
    ],
    outputs: [
        (
            quantity: 1,
            item: "items/rum.item.ron",
        ),
    ],
)
